NEXT_PUBLIC_SUPABASE_URL=https://wabbwsmizhkpcgulxvop.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndhYmJ3c21pemhrcGNndWx4dm9wIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU4NDY3OTEsImV4cCI6MjA4MTQyMjc5MX0.djNs8caKJUQyrCwI92gmS4mNV8AjMFT4u-zxNSMXqP0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndhYmJ3c21pemhrcGNndWx4dm9wIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTg0Njc5MSwiZXhwIjoyMDgxNDIyNzkxfQ.74Xg1U39aO3JIfDXwr-uoS1ozUaoeNInNSwDQLfL2fU
AUTOMATIC1111_URL=http://127.0.0.1:7860
TTS_SERVER_URL=http://127.0.0.1:8001
