NEXT_PUBLIC_SUPABASE_URL=https://wabbwsmizhkpcgulxvop.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndhYmJ3c21pemhrcGNndWx4dm9wIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU4NDY3OTEsImV4cCI6MjA4MTQyMjc5MX0.djNs8caKJUQyrCwI92gmS4mNV8AjMFT4u-zxNSMXqP0
AUTOMATIC1111_URL=http://127.0.0.1:7860
